<p>ToDoList Assignment</p>
<form>
  <div class="form-group form-inline">
    Add items : <input class="form-control ml-2" type="text"  placeholder="Add to todo list" #box (keyup.enter)="onEnter(box.value)"/>
    <button type="button" class="btn btn-primary" (click)="onEnter(box.value)">Add</button>
  </div>
  <div class="form-group form-inline">
    Full text search: <input class="form-control ml-2" type="text" placeholder="Search" #box2 (keyup.enter)="inputFilter(box2.value)" [formControl]="filter"/>
  </div>
</form>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Project</th>
<!--    <th scope="col">Area</th>-->
<!--    <th scope="col">Population</th>-->
  </tr>
  </thead>
  <tbody>
<!--  <tr *ngFor="let item of items$ | async; index as i" (click)="onDelete(i)" (mouseover)="highlightRow(item)" [ngClass] = "{'highlight' : item.name == selectedName}">-->
  <tr *ngFor="let item of ITEMS; index as i" (click)="onDelete(i)" (mouseover)="highlightRow(item)" [class.highlighted]="item.name === selectedName">
<!--      [ngClass] = "{'highlight' : item.name == selectedName}">-->

    <th scope="row">{{ i + 1 }}</th>
    <td>
      <!--      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">-->
<!--      {{item.name}}-->
      <ngb-highlight [result]="item.name" [term]="filter.value"></ngb-highlight>
    </td>
    <!--    <td><ngb-highlight [result]="country.area | number" [term]="filter.value"></ngb-highlight></td>-->
    <!--    <td><ngb-highlight [result]="country.population | number" [term]="filter.value"></ngb-highlight></td>-->
  </tr>
  </tbody>
</table>
