<fieldset>
  <div>
    <label>London Time</label>
  </div>

  <div>
<div class="time">
  <p (click)="clearSearch()">{{today | date:'hh:mm:ss a'}}</p>
</div>
  </div>


<!--<div class="date">-->
<!--  <p>{{today | date}}</p>-->
<!--</div>-->
  <div>
    <label>
      <input name="hour" [(ngModel)]="hour">
      <input name="min" [(ngModel)]="min">
      <input name="second" [(ngModel)]="second">
      <br>
      <p (click)="typeSearch()"> {{hour}} :  {{min}} :  {{second}}</p>
      <!--  {{second}}-->
    </label>
  </div>
</fieldset>
<div>
  <button type="button" (click)="clearSearch()">Reset</button>
  <button type="button" (click)="typeSearch()">Pause</button>
</div>
<div>
<label>
  <input name="hour" [(ngModel)]="hour">
  <input name="min" [(ngModel)]="min">
  <input name="second" [(ngModel)]="second">
  <br>
  <p> {{hour}} :  {{min}} :  {{second}}</p>
<!--  {{second}}-->
</label>
</div>


